/* section works */
.latestnews-box { padding: 0; }
.latestnews-box .attachment-post-thumbnail { width: 100% !important; height: auto !important; }
.latestnews-img-a { position: relative; }
.latestnews-box .latestnews-img-a:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-image: url('../images/hover.png');
	background-size: cover;
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity .3s ease-in;
	 -moz-transition: opacity .3s ease-in;
	  -o-transition: opacity .3s ease-in;
	   transition: opacity .3s ease-in;
}
.latestnews-box .latestnews-img-a:hover:before { opacity: 1; }


@media (min-width: 1200px) {
	.container {
	    width: 75%;
	}
}